{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>{{ college["INSTNM"] }}</h2>
  <table class="details-table">
    <tr>
      <th>Website:</th>
      <td><a href='//{{college["INSTURL"]}}'>{{ college["INSTURL"] }}</a></td>
    </tr>
    <tr>
      <th>Address:</th>
      <td>{{ college["CITY"] }}, {{ college["STABBR"] }} {{college["ZIP"]}}</td>
    </tr>
    <tr>
      <th>Admission Rate:</th>
      <td>{{ college["ADM_RATE"] }}</td>
    </tr>
    <tr>
      <th>Average SAT:</th>
      <td>{{ college["SAT_AVG"] }}</td>
    </tr>
    <tr>
      <th>In-state Tuition:</th>
      <td>{{ college["TUITIONFEE_IN"] }}</td>
    </tr>
    <tr>
      <th>Out-of-state Tuition:</th>
      <td>{{ college["TUITIONFEE_OUT"] }}</td>
    </tr>
    <tr>
      <th>Undergraduate Number of Students:</th>
      <td>{{ college["UGDS"] }}</td>
    </tr>
  </table>

  <div class="chart-container">
    <div id="acceptance_piechart"></div>
    <div id="ethnicity_piechart"></div>
    <div id="tuition_barchart"></div>
    <div id="student_distribution_linechart"></div>
  </div>

  <div class="map-container">
    <iframe
      width="500"
      height="350"
      frameborder="0"
      style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBR5RY-Y3sGcCacuN8Xy1auBDne78xjQVo&q={{college['LATITUDE']}},{{college['LONGITUDE']}}"
      allowfullscreen>
    </iframe>
  </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawCharts);

  function drawCharts() {
    drawAcceptanceChart();
    drawEthnicityChart();
    drawTuitionChart();
    drawStudentDistributionChart();
  }

  function drawAcceptanceChart() {
    var data = google.visualization.arrayToDataTable([
      ['Acceptance Rates', 'Percent Students'],
      ['Accepted',     {{college["ADM_RATE"]}}],
      ['Rejected',      {{ 1- college["ADM_RATE"] }}],
    ]);

    var options = {
      title: 'Acceptance Rate'
    };

    var chart = new google.visualization.PieChart(document.getElementById('acceptance_piechart'));
    chart.draw(data, options);
  }

  function drawEthnicityChart() {
    var data = google.visualization.arrayToDataTable([
      ['Ethnicity', 'Number of Students'],
      ['White', {{ college["UGDS_WHITE"] }}],
      ['Black', {{ college["UGDS_BLACK"] }}],
      ['Hispanic', {{ college["UGDS_HISP"] }}],
      ['Asian', {{ college["UGDS_ASIAN"] }}],
      ['Other', {{ college["UGDS_OTHER"] }}]
    ]);

    var options = {
      title: 'Ethnicity Breakdown'
    };

    var chart = new google.visualization.PieChart(document.getElementById('ethnicity_piechart'));
    chart.draw(data, options);
  }

  function drawTuitionChart() {
    var data = google.visualization.arrayToDataTable([
      ['Type', 'Tuition Fee'],
      ['In-state', {{ college["TUITIONFEE_IN"] }}],
      ['Out-of-state', {{ college["TUITIONFEE_OUT"] }}]
    ]);

    var options = {
      title: 'Tuition Fees Comparison',
      hAxis: {title: 'Type of Tuition'},
      vAxis: {title: 'Fee'}
    };

    var chart = new google.visualization.BarChart(document.getElementById('tuition_barchart'));
    chart.draw(data, options);
  }

  function drawStudentDistributionChart() {
    var data = google.visualization.arrayToDataTable([
      ['Year', 'Number of Students'],
      ['Freshman', {{ college["UGDS_FRESHMAN"] }}],
      ['Sophomore', {{ college["UGDS_SOPHOMORE"] }}],
      ['Junior', {{ college["UGDS_JUNIOR"] }}],
      ['Senior', {{ college["UGDS_SENIOR"] }}]
    ]);

    var options = {
      title: 'Student Distribution by Year',
      hAxis: {title: 'Year'},
      vAxis: {title: 'Number of Students'}
    };

    var chart = new google.visualization.LineChart(document.getElementById('student_distribution_linechart'));
    chart.draw(data, options);
  }
</script>
{% endblock %}
