{% extends 'base.html' %}

{% block content %}
<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawCharts);

      function drawCharts() {

        // Admission Rates Pie Chart
        var data1 = google.visualization.arrayToDataTable([
          ['Acceptance Rates', 'Percent Students'],
          ['Accepted',     {{college["ADM_RATE"]}}],
          ['Rejected',      {{ 1- college["ADM_RATE"]}}],
        ]);

        var options1 = {
          title: 'Admission Rates'
        };

        var chart1 = new google.visualization.PieChart(document.getElementById('piechart1'));
        chart1.draw(data1, options1);

        // Average SAT Bar Chart
        var data2 = google.visualization.arrayToDataTable([
          ['Category', 'Score'],
          ['Average SAT', {{college["SAT_AVG"]}}]
        ]);

        var options2 = {
          title: 'Average SAT Score',
          hAxis: {title: 'Category', minValue: 0},
          vAxis: {title: 'Score', minValue: 0}
        };

        var chart2 = new google.visualization.BarChart(document.getElementById('barchart'));

        chart2.draw(data2, options2);

        // Tuition Fees Bar Chart
        var data3 = google.visualization.arrayToDataTable([
          ['Category', 'Cost'],
          ['In-state Tuition', {{college["TUITIONFEE_IN"]}}],
          ['Out-of-state Tuition', {{college["TUITIONFEE_OUT"]}}]
        ]);

        var options3 = {
          title: 'Tuition Fees',
          hAxis: {title: 'Category', minValue: 0},
          vAxis: {title: 'Cost', minValue: 0}
        };

        var chart3 = new google.visualization.BarChart(document.getElementById('barchart2'));

        chart3.draw(data3, options3);

        // Ethnicity Breakdown Pie Chart
        var data4 = google.visualization.arrayToDataTable([
          ['Ethnicity', 'Percent Students'],
          ['White',     {{college["UGDS_WHITE"]}}],
          ['Black or African American', {{college["UGDS_BLACK"]}}],
          ['Hispanic', {{college["UGDS_HISP"]}}],
          ['Asian', {{college["UGDS_ASIAN"]}}],
          ['American Indian/Alaska Native', {{college["UGDS_AIAN"]}}],
          ['Native Hawaiian/Pacific Islander', {{college["UGDS_NHPI"]}}],
          ['Two or more races', {{college["UGDS_2MOR"]}}],
          ['Non-resident alien', {{college["UGDS_NRA"]}}],
          ['Unknown', {{college["UGDS_UNKN"]}}],
        ]);

        var options4 = {
          title: 'Ethnicity Breakdown'
        };

        var chart4 = new google.visualization.PieChart(document.getElementById('piechart2'));
        chart4.draw(data4, options4);
      }
    </script>
  </head>
  <body>
    <!-- displays the college information -->
    <h2>{{ college["INSTNM"] }}</h2>
    <table>
      <tr><td><strong>Website:</strong> <a href='//{{college["INSTURL"]}}'>{{ college["INSTURL"] }}</a></td></tr>
      <tr><td><strong>Address:</strong> {{ college["CITY"] }}, {{ college["STABBR"] }} {{college["ZIP"]}} </td></tr>
      <tr><td><strong>Admission Rate:</strong> {{ college["ADM_RATE"] }}</td></tr>
      <tr><td><strong>Average SAT:</strong> {{ college["SAT_AVG"] }}</td></tr>
      <tr><td><strong>In-state Tuition:</strong> {{ college["TUITIONFEE_IN"] }}</td></tr>
      <tr><td><strong>Out-of-state Tuition:</strong> {{ college["TUITIONFEE_OUT"] }}</td></tr>
      <tr><td><strong>Undergraduate Number of Students:</strong> {{ college["UGDS"] }}</td></tr>
    </table>

    <div id="piechart1" style="width: 900px; height: 500px;"></div>
    <div id="barchart" style="width: 900px; height: 500px;"></div>
    <div id="barchart2" style="width: 900px; height: 500px;"></div>
    <div id="piechart2" style="width: 900px; height: 500px;"></div>

    <!-- Creates the map -->
    <div class="map-container">
      <iframe
        width="500"
        height="350"
        frameborder="0"
        style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBR5RY-Y3sGcCacuN8Xy1auBDne78xjQVo&q={{college['LATITUDE']}},{{college['LONGITUDE']}}"
        allowfullscreen>
      </iframe>
    </div>
  </body>
</html>
{% endblock %}
