{% extends 'base.html' %}
{% block content %}
<!-- gets the data for the college list on the home page -->
<div class="container">
  <div class="filters">
    <h2>Filters</h2>
    <input type="text" id="searchTerm" placeholder="Search.." >
    <div>
      <label for="minAdmission">Min Admission Rate:</label>
      <input type="number" id="minAdmission" name="minAdmission"  min="0"  max="100" value="0">
    </div>
    <div>
      <label for="maxAdmission">Max Admission Rate:</label>
      <input type="number" id="maxAdmission" name="maxAdmission" min="0.0" max="100" value="100">
    </div>
    <div>
      <label for="minTuition">Min Tuition:</label>
      <input type="number" id="minTuition" name="minTuition" min="0" step="1000" value="0">
    </div>
    <div>
      <label for="maxTuition">Max Tuition:</label>
      <input type="number" id="maxTuition" name="maxTuition" min="0" step="1000" value="100000">
    </div>
    <div>
      <label for="minSAT">Min SAT Score:</label>
      <input type="number" id="minSAT" name="minSAT" min="400" max="1600" step="10" value="400">
    </div>
    <div>
      <label for="maxSAT">Max SAT Score:</label>
      <input type="number" id="maxSAT" name="maxSAT" min="400" max="1600" step="10" value="1600">
    </div>
    <div>
      <label for="stateDropdown">State:</label>
      <select id="stateDropdown" name="state">
        <option value="">Any</option>
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
        
      </select>
    </div>
    <div>
      <label for="tuitionType">Tuition Type:</label>
      <select id="tuitionType" name="tuitionType">
        <option value="outstate">Out-of-State</option>
        <option value="instate">In-State</option>
      </select>
    </div>
    <button onclick="applyFilters()">Apply Filters</button>
  </div>
  <div class="college-list">
      <h2>Colleges</h2>
      <div class="table-wrapper">
          <div class="table-container">
              <table id="collegeTable">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Admission Rate (%)</th>
                          <th>SAT Score Range</th>
                          <th>Tuition Fee</th>
                      </tr>
                  </thead>
                  <tbody id="collegeTableBody">
                      {% for college in colleges %}
                      <tr data-admission="{{ college['ADM_RATE'] }}" data-tuition-in="{{ college['TUITIONFEE_IN'] }}" data-tuition-out="{{ college['TUITIONFEE_OUT'] }}" data-sat="{{ college['SAT_AVG'] }}" data-state="{{ college['STABBR'] }}">
                          <td>
                              <a href='/college/{{college["UNITID"]}}'>{{ college["INSTNM"] }}</a>
                          </td>
                          <td>{{ '%.2f' % (college["ADM_RATE"] * 100) }}%</td>
                          <td>{{ '{:.0f}'.format(college["SAT_AVG"]) }}</td>
                          <td>{% if tuition_type == 'instate' %}
                              $ {{ college["TUITIONFEE_IN"] }}
                          {% else %}
                              $ {{ college["TUITIONFEE_OUT"] }}
                          {% endif %}</td> 
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

<script>
  function applyFilters() {
    var minAdmission = document.getElementById("minAdmission").value;
    var maxAdmission = document.getElementById("maxAdmission").value;
    var minTuition = document.getElementById("minTuition").value;
    var maxTuition = document.getElementById("maxTuition").value;
    var minSAT = document.getElementById("minSAT").value;
    var maxSAT = document.getElementById("maxSAT").value;
    var state = document.getElementById("stateDropdown").value;
    var tuitionType = document.getElementById("tuitionType").value;
    var searchTerm = document.getElementById("searchTerm").value;


    window.location.href = "/?minAdmission=" + minAdmission + "&maxAdmission=" + maxAdmission + "&minTuition=" + minTuition + "&maxTuition=" + maxTuition + "&minSAT=" + minSAT + "&maxSAT=" + maxSAT + "&tuitionType=" + tuitionType + "&state=" + state + "&searchTerm=" + searchTerm;
  }

  function initializeFilters() {
    var urlParams = new URLSearchParams(window.location.search);
    var minAdmission = urlParams.get("minAdmission") || 0;
    var maxAdmission = urlParams.get("maxAdmission") || 100;
    var minTuition = urlParams.get("minTuition") || 0;
    var maxTuition = urlParams.get("maxTuition") || 100000;
    var minSAT = urlParams.get("minSAT") || 400;
    var maxSAT = urlParams.get("maxSAT") || 1600;
    var state = urlParams.get("state") || "";
    var tuitionType = urlParams.get("tuitionType") || "Out-of-State";
    var searchTerm = urlParams.get("searchTerm") || "";

    document.getElementById("minAdmission").value = minAdmission;
    document.getElementById("maxAdmission").value = maxAdmission;
    document.getElementById("minTuition").value = minTuition;
    document.getElementById("maxTuition").value = maxTuition;
    document.getElementById("minSAT").value = minSAT;
    document.getElementById("maxSAT").value = maxSAT;
    document.getElementById("stateDropdown").value = state;
    document.getElementById("tuitionType").value = tuitionType;
    document.getElementById("searchTerm").value = searchTerm;
  }

  window.onload = initializeFilters;
</script>
{% endblock %}
